<mat-card>
    <form action="#">
        <!-- <h3>Password will be sent to your email</h3> -->
        <mat-form-field>
            
            <mat-label>Enter your email</mat-label>
            <input type="email" matInput [(ngModel)]="email" name="email" required>
            <mat-hint>Password will be sent to your email</mat-hint>
        </mat-form-field>
        <br> 
        <button mat-raised-button type="submit" color="accent" style="margin-left: 30px;" (click)="onSubmit()">Submit</button>
    </form>
</mat-card>

