mat-card{
    width: 300px;
    height: 150px;
    text-align: center;
    background-color: gainsboro;
    
}
form{
    /* margin: auto; */
    /* margin-top: 10px;
    margin-bottom: 10px; */
    margin: 10px;
    /* box-shadow: 0px 40px 50px 0px blue; */
}
button{
    margin-right: 15px;
    margin-top: 20px;
}
mat-form-field{
    width: 100%;
}
