#head {
    text-align: center;
}

h3 {
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
    color: rgba(0, 0, 0, 0.507);
}
mat-toolbar {
    background-color: #897622;
    width: 100%
}
#container {
    
    width: 50%;
    box-shadow: grey 4px 4px 4px 4px;
    padding: 20px;
    position: absolute;
    top: 90px;
    left: 350px;
    background-color: gainsboro;
    box-shadow: 3px 3px 3px 3px gray;
    border-radius: 3%;
}

mat-form-field{
    width: 100%;
    background-color: gainsboro;
    color: gainsboro;
}

button {
    margin-left: 40px;
}
body{
    background-image: url("../../assets/img1.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
}
